<div class='marketing'>
	<h1>Fazendo a Diferença</h1>
	<p class='marketing-byline'>Ajude-nos a criar uma Unicamp melhor, para os universitários e para todos.</p>

	<div class='row-fluid'>
		<div class='span4 content-box fix-size-box'>
			<%= image_tag 'house.png', class: 'img_index' %>
			<h2>Cadastre sua República</h2>
			<p>Comece a fazer parte da Associação, dos Eventos e das Reuniões.</p>
		</div>
		<div class='span4  content-box fix-size-box'>
			<%= image_tag 'calendar.png', class: 'img_index' %>
			<h2>Participe das Reuniões</h2>
			<p>Dê sua opinião, ajude na organização da Associação e faça sua República continuar por vários anos.</p>
		</div>
		<div class='span4  content-box fix-size-box'>
			<%= image_tag 'like-icon.png', class: 'img_index' %>
			<h2>Curta nossa Fanpage</h2>
			<p>Acesse nossa página no Facebook, fique por dentro dos eventos e acesse o nosso site.</p> 
				<ul class='no-style'>
					<li><i class='icon-globe'></i> <%= link_to "republicasunicamp.com.br", 'http://www.republicasunicamp.com.br' %></li>
					<li><i><%= image_tag 'glyphicons/glyphicons_410_facebook.png', height: '14', width: 14 %></i> <%= link_to "fb.com/republicasunicamp", 'http://www.facebook.com/republicasunicamp' %></li>
				</ul>
		</div>
	</div>
</div>
<!-- <div class='row'>
	<div class='container'>
		<legend>Newsfeed</legend>
		<h5>Titulo</h5>
		<p>Abertas as inscrições para o InterReps através do link <%= link_to "Lorem Ipsum", '#', class: 'btn btn-info btn-small' %>  </p> 
	</div></div> -->