
<%= f.input :nome, placeholder: 'Nome', label: false, disabled: true  %>
<%= f.input :sobrenome, placeholder: 'Sobrenome', label: false, disabled: true  %>
<%= f.input :apelido, placeholder: 'Apelido', label: false  %>
<%= f.input :curso, placeholder: 'Curso', label: false, disabled: true %>
<%= f.input :ano_de_ingresso, label: false, collection: (2000..Time.now.year).to_a.reverse, prompt: 'Ano de Ingresso', disabled: true %>


<div id='universidade'><%= f.input :universidade, label: false, collection: Morador::UNIVERSIDADE, prompt: 'Universidade', disabled: true %></div>

<div id='RA' style='display:none'><%= f.input :ra, placeholder: 'RA', label: false, disabled: true %></div>

<div id='representante'>
<%= f.hidden_field :representante, :class => 'repres_input'%>
</div>

<div class="radio_but" > 
	<label class='radio'>
		<%= radio_button_tag('representante', true ) %>
		Representante da República
	</label>
</div>

<div class='repres_field' style='display:none' >
	<%= f.input :email, placeholder: 'Email', label: false %>
</div>

<div class='repres_field' style='display:none'>
	<%= f.input :celular, placeholder: 'Celular', label: false, input_html: {class: 'celular'}  %>
</div>

<div id='remover_btn'>
	<%= f.link_to_remove "Remover",:data => { :confirm => "Você tem certeza?" }, class: 'btn btn-danger btn-small' %>
</div>
