  <% 3.times {@republica.moradores.build} if @republica.moradores.empty? %>
  <%= simple_nested_form_for @republica, validate: true, html: {id: 'republica_form', multipart: true} do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors @republica %>

  <fieldset>
    <legend>República</legend>

   <!--  <div class="fileupload fileupload-new" data-provides="fileupload">
      <div class="fileupload-preview thumbnail" style="width: 200px; height: 150px;"></div>
      <div>
        <span class="btn btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><input type="file" /></span>
        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
      </div>
    </div> -->

    <%= f.input :logotipo, label: 'Logotipo da República' %>
    <%= f.input :nome, placeholder: 'Nome', label: false %>
    <%= f.input :tipo, label: false, collection: Republica::TIPO_DE_REP, prompt: 'Tipo' %>

    <%= f.input :ano_de_fundacao, label: false, collection: (1990..Time.now.year).to_a.reverse, prompt: "Ano de Fundação" %>

    <%= f.input :endereco, placeholder: 'Endereço', label: false %>
    <%= f.input :numero, placeholder: 'Número', label: false %>
    <%= f.input :telefone, placeholder: 'Telefone da República', label: false, input_html: {class: 'telefone'} %>
    <%= f.input :descricao, placeholder: 'Descrição da República, contando sua história. (mínimo de 100 caracteres)', label: false, input_html: {class: 'input-xxlarge', rows: 10} %>
  </fieldset>

  <fieldset id='moradores'>
    <legend>Moradores</legend>

    <ol>
      <div class="morador">
        <%= f.simple_fields_for :moradores do |builder| %>
        <%= render 'republicas/morador_fields', f: builder %>
        <% end %>
      </div>
      <p><%= f.link_to_add '<i class="icon-plus-sign"></i>'.html_safe, :moradores, class: 'btn btn-success btn-small' %></p>
    </ol>


    <br>

  </fieldset>

  <fieldset>
    <legend>Novo Usuário</legend>
    <%= f.input :username, placeholder: 'Usuário', label: false %>
    <%= f.input :password, placeholder: 'Senha', label: false %>
    <%= f.input :password_confirmation, placeholder: 'Confirmação', label: false %>
  </fieldset>




  <div class="form-actions" id='cadastro_actions'>
      <p class='terms_text'>Ao clicar em Cadastrar, você aceita nossos <%= link_to "Termos de Associação", terms_path, target: "_blank" %>.</p>
   <%= f.submit 'Cadastrar', class: 'btn btn-primary' %>
   <%= link_to 'Cancel', republicas_path, class: 'btn' %>
 </div>


 <% end %>