<div class='nomes-moradores control-group' >
	<li>
		<span class='inline nome-morador label label-inverse'>Ex-Morador</span>	
		<span class='btn btn-mini edit-morador-btn'><i class="icon-edit"></i></span>
		<%= f.link_to_remove '<i class="icon-remove-sign"></i>'.html_safe,:data => { :confirm => "Você tem certeza?" }, class: 'btn btn-danger btn-mini' %>
	</li>
</div>

<div class='modal hide fade morador-modal'>

	<div class='modal-header'>
		<h3>Ex-Morador</h3>
	</div>

	<div class='modal-body'>
		<%= f.input :nome, placeholder: 'Nome', label: false, input_html: {class: 'nome'}  %>
		<%= f.input :sobrenome, placeholder: 'Sobrenome', label: false,input_html: {class: 'sobrenome'}  %>
		<%= f.input :apelido, placeholder: 'Apelido', label: false  %>
		<%= f.input :curso, label: false, collection: (Morador::CURSO).sort, input_html: {class: 'chzn-select curso', :'data-placeholder' => 'Curso' } %>
		<%= f.input :ano_de_ingresso, label: false, collection: (2000..Time.now.year).to_a.reverse, prompt: 'Ano de ingresso' %>

		<div class='universidade'><%= f.input :universidade, label: false, collection: Morador::UNIVERSIDADE, prompt: 'Universidade', input_html: {id: 'universidade'} %></div>

		<div class='RA' style='display:none'><%= f.input :ra, placeholder: 'RA', label: false, validate: true %></div>

		<div class='exmorador'>
			<%= f.hidden_field :exmorador, :value => 'true' %>
		</div>

	</div>

	<div class='modal-footer'>
		<p class='btn btn-success btn-small confirm-morador'>OK</p>
	</div>
</div>