  <%= simple_nested_form_for @republica, validate: true do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors @republica %>

  <h3>Login</h3>

  <%= f.input :username, label: 'Usuário' %>
  <%= f.input :password, label: 'Senha' %>
  <%= f.input :password_confirmation, label: 'Confirmação' %>

  <h3>República</h3>

  <%= f.input :nome %>
  <%= f.input :tipo, collection: Republica::TIPO_DE_REP, prompt: 'Selecione' %>

  <%= f.input :ano_de_fundacao, collection: (1962..Time.now.year).to_a.reverse, prompt: "Selecione", label: 'Ano de Fundação' %>

  <%= f.input :endereco, label: 'Endereço' %>
  <%= f.input :telefone %>
  <%= f.input :descricao, label: 'Descrição', input_html: {rows: 5, cols: 10} %>


  <fieldset>

    <legend> Moradores </legend>

    <div class="morador">
      <%= f.simple_fields_for :moradores do |builder| %>
      <%= render 'morador_fields', f: builder %>
      <% end %>
    </div>
    <p><%= f.link_to_add "Add Morador", :moradores %></p>

  </fieldset>

  <div class="actions">
   <%= f.submit 'Submit' %>

 </div>
 <% end %>