
<%= f.input :nome, placeholder: 'Nome' %>
<%= f.input :sobrenome, placeholder: 'Sobrenome' %>
<%= f.input :curso %>
<%= f.input :ano_de_ingresso, collection: (2000..Time.now.year).to_a.reverse, prompt: 'Selecione' %>


<div id='universidade'><%= f.input :universidade, collection: Morador::UNIVERSIDADE, prompt: 'Selecione', input_html: {id: 'universidade'} %></div>

<div id='RA' style='display:none'><%= f.input :ra, label: 'RA' %></div>

<%= f.hidden_field :representante, value: 'false', :id => 'representante', :class => 'repres_input'%>

<div class="radio_but" > 
 <%= label_tag('representante', "Representante da República") %>
 <%= radio_button_tag('representante', true ) %>
</div>

<div class='repres_field' style='display:none' >
  <%= f.input :email %>
</div>

<div class='repres_field' style='display:none'>
 <%= f.input :celular %>
</div>

<div style='text-align:right'>
  <%= f.link_to_remove "Remover Morador" %>
</div>
