<table class='table table-condensed republicas'>
	<thead class='republicas-head'>
		<tr>
			<th></th> <!-- Logotipo -->
			<th><%= sortable "nome", "República" %></th>
			<th><%= sortable "tipo" %></th>
			<th><%= sortable "ano_de_fundacao", "Ano de Fundação" %></th>
			<th>Atributos</th> <!-- Prêmios - Campeã de InterReps, Reuniões, etc. -->
		</tr>
	</thead>

	<tbody>
		<% @republicas.each do |republica| %>
		<tr>
			<td><%= image_tag republica.logotipo_url(:thumb), id: 'logotipo' %></td>
			<td><b><%= link_to republica.nome, republica %></b></td>
			<td><%= republica.tipo %></td>
			<td><%= republica.ano_de_fundacao %></td>
			<td>
				<%  if republica.campea_interreps != '' && republica.campea_interreps != nil %>
				<%= image_tag 'glyphicons/glyphicons_332_certificate.png', class: 'interreps' %>
				<% end %>
				<%= image_tag 'glyphicons/glyphicons_045_calendar.png', class: 'reunioes' if republica.presente_reunioes == true %>
				<%= image_tag 'glyphicons/glyphicons_075_stroller.png', class: 'nova_rep' if Time.now.year - "#{republica.ano_de_fundacao}".to_i <= 1 %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>


<p><%= will_paginate @republicas %></p>