<table class='table table-striped table-condensed'>
	<thead>
		<tr>
			<th></th> <!-- Logotipo -->
			<th>República</th>
			<th>Tipo</th>
			<th>Ano de Fundação</th>
			<th>Atributos</th> <!-- Prêmios - Campeã de InterReps, Reuniões, etc. -->

			<% if can? :manage, :all %>
			<th>Registro</th>
			<th>Último Login</th>
			<th>Última Atualização</th>
			<th>Confirmado</th>
			<th></th> <!-- Comandos ADMIN -->
			<% end %>
		</tr>
	</thead>

	<tbody>
		<% @republicas.each do |republica| %>
		<tr>
			<td><%= image_tag republica.logotipo_url(:thumb), id: 'logotipo' %></td>
			<td><b><%= link_to republica.nome, republica %></b></td>
			<td><%= republica.tipo %></td>
			<td><%= republica.ano_de_fundacao %></td>
			<td>
				<%  if republica.campea_interreps != '' && republica.campea_interreps != nil %>
				<%= image_tag 'glyphicons/glyphicons_332_certificate.png', class: 'interreps' %>
				<% end %>
				<%= image_tag 'glyphicons/glyphicons_045_calendar.png', class: 'reunioes' if republica.presente_reunioes == true %>
				<%= image_tag 'glyphicons/glyphicons_075_stroller.png', class: 'nova_rep' if Time.now.year - "#{republica.ano_de_fundacao}".to_i <= 1 %>
			</td>

			<% if can? :manage, :all %>
			<td><%= republica.created_at.to_date %></td>

			<td>
				<% if republica.last_sign_in_at != nil %>
				<%= republica.last_sign_in_at.to_s.to_date %>
				<% end %>
			</td>

			<td>
				<%= republica.updated_at.to_s.to_date %>
			</td>

			<td>
				<% if republica.confirmed_at != nil %>
				<span style='color:green'>Sim</span>
				<% else %>
				<span style='color:red'>Não</span>
				<% end %>
			</td>


			<td>
				<%= link_to 'Editar', edit_republica_path(republica), class: 'btn btn-mini' %>
				<%= link_to 'Deletar', republica, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger btn-mini' %>
				<% if republica.approved == false %>
				<%= link_to 'Approve', republica_approve_path(republica), method: :put, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-success btn-mini' %>
				<% end %>
				<% if republica.approved == true %>
				<%= link_to 'Disapprove', republica_disapprove_path(republica), method: :put, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-warning btn-mini' %>
				<% end %>
			</td>
			<% end %>

		</tr>
		<% end %>
	</tbody>
</table>

<p><%= will_paginate @republicas %></p>