
<div class='clearfix'>
  <% @republicas.each do |republica| %>

  <div class='content-box content-box-for-republica'>

    <%= image_tag republica.logotipo_url(:large), id: 'logo_index', class: 'pull-left '%>

    <div class='media-body'>
      <h2><%= link_to republica.nome, republica_path(republica) %></h2>

      <p>
        <% if republica.tipo == 'Masculina' %>
        <i class='fa fa-male'></i>
        <% elsif republica.tipo == 'Feminina' %>
        <i class='fa fa-female'></i>
        <% else %>
        <i class='fa fa-group'></i>
        <% end %>
        <span><%= republica.tipo %></span>
        <span class='dot-separator'>·</span>
        <span>Fundada em <%= republica.ano_de_fundacao %></span>
      </p>

      <!-- Desabilitado por enquanto -->
      <% if false %>
      <% if Time.now.year - republica.ano_de_fundacao <= 1 %>
      <p><%= image_tag 'glyphicons/glyphicons_075_stroller.png', class: 'calendar_icon' %> República Nova</p>
      <% end %>
      <% end %>

      <% if republica.presente_reunioes == true %>
      <p>
        <i class='fa fa-calendar'></i> Presente em Reuniões
      </p>
      <% end %>

      <% if republica.interreps_vencidos.any?  %>
      <p><i class='fa fa-trophy'></i> Vencedora InterReps: <%= republica.interreps_vencidos.order(:ano).collect(&:ano).join(', ') %></p>
      <% end %>

    </div>

    <div class='btn-bottom-right'>
      <% if republica.contato.not_empty? %>
      <%= link_to "Contato", republica_path(republica, anchor: 'contato'), class: 'nav-btn nav-btn-a nav-btn-small ' %>
      <% end %>

      <%= link_to "Mais Informações", republica_path(republica), class: 'nav-btn nav-btn-a nav-btn-small ' %>
    </div>

    <% if republica.social_information.not_empty? %>
    <div class='social-top-right'>

      <ul class='no-style'>
        <% if republica.social_information.website.present? %>
        <li><%= link_to '<i class="fa fa-globe fa-lg"></i>'.html_safe, republica.social_information.website, target: '_blank' %></li>
        <% end %>

        <% if republica.social_information.facebook.present? %>
        <li><%= link_to '<i class="fa fa-facebook-square fa-lg"></i>'.html_safe, republica.social_information.facebook, target: '_blank' %></li>
        <% end %>

        <% if republica.social_information.googleplus.present? %>
        <li><%= link_to '<i class="fa fa-google-plus-square fa-lg"></i>'.html_safe, republica.social_information.googleplus, target: '_blank' %></li>
        <% end %>

        <% if republica.social_information.youtube.present? %>
        <li><%= link_to '<i class="fa fa-youtube fa-lg"></i>'.html_safe, republica.social_information.youtube, target: '_blank' %></li>
        <% end %>

        <% if republica.social_information.twitter.present? %>
        <li><%= link_to '<i class="fa fa-twitter fa-lg"></i>'.html_safe, republica.social_information.twitter, target: '_blank' %></li>
        <% end %>

      </ul>

    </div>
    <% end %>

  </div>

  <% end %>
</div>

<p><%= will_paginate @republicas %></p>

