<legend>Repúblicas Associadas</legend>

<% if can? :manage, :all %>
<%= link_to "Repúblicas aprovadas", republicas_path %>
|
<%= link_to "Esperando aprovação", :action => "index", :approved => "false" %>
<% end %>

<div class='form-inline pull-right'>
<%= form_tag republicas_path, :method => 'get', :id => "republicas_search", remote: true do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil, class: 'btn' %>
<% end %>
</div>

<div id='republicas'><%= render 'republicas' %></div>




