<legend>Ex-Moradores</legend>

<div class='content-box content-box-for-table'>
<table class='table table-condensed'>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Apelido</th>
        <th>Curso</th>
        <th>Ano de ingresso</th>
        <th>Universidade</th>
        <th>RA</th>
        <th>Data de Saída</th>
        <th>Tempo de Rep</th>
        <th></th>
        <th></th>

    </tr>
</thead>

<tbody>
    <% @exmoradores.each do |morador| %>
    <tr>
        <td><%= morador.nome + ' ' + morador.sobrenome %></td>
        <td><%= morador.apelido %></td>
        <td><%= morador.curso %></td>
        <td><%= morador.ano_de_ingresso %></td>
        <td><%= morador.universidade %></td>
        <td><%= morador.ra %></td>
        <td><%= morador.data_de_saida.to_date %></td>
        <td class='<%= "red" if morador.data_de_saida - morador.created_at < 3.months %>'><%= distance_of_time_in_words(morador.data_de_saida - morador.created_at) %></td>
        <!--         <td><%= link_to "Morador?", republica_morador_path(morador.republica_id, morador, :morador => {:exmorador => 'false' } ), method: :put, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-mini btn-info' %></td> -->

        <% if can? :manage, :all %>
        <td class='admin_action'>
            <%= link_to "Morador?", admin_republica_morador_path(@republica, morador, :morador => {:exmorador => 'false' } ), method: :put, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-mini btn-info' %>
            <%= link_to 'Editar', edit_admin_republica_morador_path(@republica, morador), class: 'btn btn-mini' %>
            <%= link_to 'Deletar', admin_republica_morador_path(@republica, morador), method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger btn-mini' %>
        </td>
        <% end %>
        <% end %>
    </tr>
</tbody>
</table>
</div>
<br />


<%= link_to 'Voltar', republica_path(@republica), class: 'btn btn-small'  %>
