<p id="notice"><%= notice %></p>

<div class="logotipo">
  <%= image_tag("rails.png") %>
</div>

<p>
  <b>Nome:</b>
  <%= @republica.nome %>
</p>

<p>
  <b>Tipo:</b>
  <%= @republica.tipo %>
</p>

<p>
  <b>Ano de fundacao:</b>
  <%= @republica.ano_de_fundacao %>
</p>

<% if can? :modify, @republica %>
<p>
  <b>Número de <%= link_to 'Moradores', republica_moradores_path(@republica) %>:</b>
  <%= @republica.moradores.length %>
</p>

<p>
<p>
  <b>Representante:</b>
  <%= 'Nome' %>
</p>
<% end %>

<p>
  <b>Descricao:</b>
  <%= @republica.descricao %>
</p>

<% if can? :modify, @republica %>
<p>
  <b>Endereco:</b>
  <%= @republica.endereco %>
</p>

<p>
  <b>Telefone:</b>
  <%= @republica.telefone %>
</p>

<p>
  <b>Username:</b>
  <%= @republica.username %>
</p>

<p>
  <b>Email:</b>
  <%= @republica.email %>
</p>

<%= link_to 'Editar', edit_republica_path(@republica), class: 'btn btn-info btn-small' %><% end %>
<%= link_to 'Voltar', republicas_path, class: 'btn btn-small'  %>
