<div id='show-rep'>

  <div class='media' id='rep-header'>
    <%= image_tag @republica.logotipo, id: 'logo_show'%>

    <h1 id='nome-rep' style='display: inline'>
      <%= @republica.nome %>
    </h1>
  </div>

  <p>
    <b>Tipo:</b>
    <%= @republica.tipo %>
  </p>

  <p>
    <b>Ano de fundação:</b>
    <%= @republica.ano_de_fundacao %>
  </p>

  <p>
    <b>Descrição:</b>
    <%= @republica.descricao %>
  </p>

  <% if can? :manage, :all %>
  <%= link_to 'Editar Atributos', republica_edit_atributos_path(@republica), class: 'btn btn-mini' %>
  <% end %>

  <% if @republica.atributos == true %>
  <p>
    <b>Atributos:</b>
    <ul>
      <% if @republica.campea_interreps != '' %>
      <li><b>Campeã InterReps</b>: <%= @republica.campea_interreps %></li>
      <% end %>
      <% if @republica.presente_reunioes == true %>
      <li><b>Presente em Reuniões da ARU</b></li>
      <% end %>
    </ul>
  </p>
  <% end %>


  <legend>Contatos</legend>

  <p>
    <b>Telefone da República:</b>
    <%= @republica.telefone %>
  </p>

  <p>
    <b>Representante:</b>
    <%= @representante.nome + ' ' + @representante.sobrenome %>
  </p>

  <p>
    <b>Email:</b>
    <%= @republica.email %>
  </p>

  <% if republica_signed_in? %> 
  <% if current_republica != @republica %>

  <legend> Outros Dados </legend>

  <p>
    <b>Número de Moradores:</b>
    <%= @republica.moradores.where(exmorador: false).length %>
  </p>

  <p>
    <b>Endereço:</b>
    <%= @republica.endereco + ', ' + @republica.numero.to_s %>
  </p>
  <% end %>
  <% end %>

  <% if can? :modify, @republica %>

  <legend> Dados Restritos </legend>

  <p>
    <b>Número de <%= link_to 'Moradores', republica_moradores_path(@republica) %>:</b>
    <%= @republica.moradores.where(exmorador: false).length %>
  </p>

  <p>
    <b><%= link_to 'Ex-moradores', republica_index_exmoradores_path(@republica) %>:</b>
    <%= @republica.moradores.where(exmorador: true).length %>
  </p>

  <p>
    <b>Endereço:</b>
    <%= @republica.endereco + ', ' + @republica.numero.to_s %>
  </p>

  <p>
    <b>Usuário:</b>
    <%= @republica.username %>
  </p>

  <% end %>

  <%= link_to 'Voltar', republicas_path, class: 'btn btn-small'  %>

</div>