<% if current_republica == @republica %>
<%= render 'left_menu' %>
<% end %>


<div id='show-rep' class='content-box pull-left'>

  <div class='media rep-show' id='rep-header'>

    <%= image_tag @republica.logotipo_url(:large), id: 'logo_show', class: 'pull-left '%>

    <div class='media-body'>
      <h1>
        <%= @republica.nome %>
      </h1>

      <p>
        <% if @republica.tipo == 'Masculina' %>
        <i class='fa fa-male'></i>
        <% elsif @republica.tipo == 'Feminina' %>
        <i class='fa fa-female'></i>
        <% else %>
        <i class='fa fa-group'></i>
        <% end %>
        <span><%= @republica.tipo %></span>
        <span class='dot-separator'>·</span>
        <span>Fundada em <%= @republica.ano_de_fundacao %></span>
      </p>

      <!-- Desabilitado por enquanto -->
      <% if false %>
      <% if Time.now.year - @republica.ano_de_fundacao <= 1 %>
      <p><%= image_tag 'glyphicons/glyphicons_075_stroller.png', class: 'calendar_icon' %> República Nova</p>
      <% end %>
      <% end %>

      <% if @republica.presente_reunioes == true %>
      <p>
        <i class='fa fa-calendar'></i> Presente em Reuniões
      </p>
      <% end %>

    </div>
  </div>

  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#geral" data-toggle="tab">Geral</a>
    </li>
    <li><a href="#atividades" data-toggle="tab">Atividades</a></li>

    <% if republica_signed_in?  %>
    <li><a href="#contato"  data-toggle="tab">Contato</a></li>
    <% end %>

    <% if current_republica == @republica %>
    <li><a href="#dados_restritos"  data-toggle="tab">Dados Restritos</a></li>
    <% end %>
  </ul>

  <div class="tab-content">

    <!-- GERAL -->
    <div class="tab-pane fade active in" id="geral">
      <legend>Descrição</legend>
      <div style='word-wrap: break-word;'>
        <%= simple_format @republica.descricao, class: 'description' %>
      </div>

    </div>

    <!-- ATIVIDADES -->
    <div class="tab-pane fade" id="atividades">

      <% if @republica.atributos == true %>

      <!-- Desabilitado por enquanto -->
      <% if false %>
      <% if Time.now.year - @republica.ano_de_fundacao <= 1 %>
      <p><%= image_tag 'glyphicons/glyphicons_075_stroller.png', class: 'atributos' %> República Nova</p>
      <% end %>
      <% end %>

      <% if @republica.presente_reunioes == true %>
      <p><i class='fa fa-calendar'></i> Presente em Reuniões</p>
      <% end %>

      <% if @republica.campea_interreps != nil && @republica.campea_interreps != ''  %>
      <p><i class='fa fa-trophy'></i> Campeã InterReps: <%= @republica.campea_interreps %></p>
      <% end %>

      <% else %>
      <p>Nenhuma Atividade Recente</p>
      <% end %>

    </div>


    <% if republica_signed_in? %> 
    <!-- CONTATOS -->
    <div class="tab-pane fade" id="contato">

      <% if @republica.telefone != '' %>
      <p>
        <b>Telefone da República:</b>
        <%= @republica.telefone %>
      </p>
      <% end %>

      <p>
        <b>Representante:</b>
        <%= @representante.nome + ' ' + @representante.sobrenome %>
      </p>

      <p>
        <b>Email do Representante:</b>
        <%= @republica.email %>
      </p>

      <% if current_republica == @republica %>
      <% if @republica.pending_reconfirmation? %>
      <p style='color:red'>
        <b>Email Não Reconfirmado:</b>
        <%= @republica.unconfirmed_email %>
      </p>
      <% end %>
      <% end %>

      <% if republica_signed_in? %> 
      <p>
        <b>Celular do Representante:</b>
        <%= @representante.celular %>
      </p>
      <% end %>

    </div>
    <% end %>

    <% if current_republica == @republica %>
    <!-- DADOS RESTRITOS -->
    <div class='tab-pane fade' id='dados_restritos'>

      <p>
        <b>Número de <%= link_to 'Moradores', republica_moradores_path(@republica) %>:</b>
        <%= @republica.moradores.where(exmorador: false).length %>
      </p>

      <p>
        <b><%= link_to 'Ex-moradores', republica_index_exmoradores_path(@republica) %>:</b>
        <%= @republica.moradores.where(exmorador: true).length %>
      </p>

      <p>
        <b>Endereço:</b>
        <%= @republica.endereco + ', ' + @republica.numero.to_s %>
      </p>

      <p>
        <b>Usuário:</b>
        <%= @republica.username %>
      </p>
    </div>

    <% end %>

  </div>

  <br>

  <%= link_to 'Voltar', republicas_path, class: 'btn btn-small'  %>

</div>