<div id='show-rep'>

  <div class='media rep-show' id='rep-header'>

    <%= image_tag @republica.logotipo, id: 'logo_show', class: 'pull-left '%>

    <div class='media-body'>
      <h1>
        <%= @republica.nome %>
      </h1>

      <p>
        <% if @republica.tipo == 'Masculina' %>
        <%= image_tag 'glyphicons/glyphicons_246_male.png', class: 'male_icon' %>
        <% elsif @republica.tipo == 'Feminina' %>
        <%= image_tag 'glyphicons/glyphicons_247_female.png', class: 'female_icon'  %>
        <% else %>
        <%= image_tag 'glyphicons/246_247_male-female.png', class: 'mixed_icon'  %>
        <% end %>
        <span><%= @republica.tipo %></span>
        <span class='dot-separator'>·</span>
        <span>Fundada em <%= @republica.ano_de_fundacao %></span>
      </p>


      <% if @republica.presente_reunioes == true %>
      <p>
        <%= image_tag 'glyphicons/glyphicons_045_calendar.png', class: 'calendar_icon' %> Presente em Reuniões
      </p>
      <% end %>

    </div>
  </div>

  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#geral" data-toggle="tab">Geral</a>
    </li>
    <li><a href="#atividades" data-toggle="tab">Atividades</a></li>
    <li><a href="#contato"  data-toggle="tab">Contato</a></li>

    <% if current_republica == @republica || admin_signed_in? %>
    <li><a href="#dados_restritos"  data-toggle="tab">Dados Restritos</a></li>
    <% end %>

    <% if admin_signed_in? %>
    <li><a href="#admin_actions"  data-toggle="tab">Admin Actions</a></li>
    <% end %>
  </ul>

  <div class="tab-content">

    <!-- GERAL -->
    <div class="tab-pane active" id="geral">
      <legend>Descrição</legend>
      <div style='word-wrap: break-word;'>
        <%= simple_format @republica.descricao, class: 'description' %>
      </div>

    </div>

    <!-- ATIVIDADES -->
    <div class="tab-pane" id="atividades">

      <% if @republica.atributos == true %>

      <% if @republica.campea_interreps != '' %>
      <p><%= image_tag 'glyphicons/glyphicons_332_certificate.png', class: 'atributos' %>  <b>Campeã InterReps</b>: <%= @republica.campea_interreps %></p>
      <% end %>

      <% if @republica.presente_reunioes == true %>
      <p><%= image_tag 'glyphicons/glyphicons_045_calendar.png', class: 'atributos' %> <b>Presente em Reuniões</b></p>
      <% end %>

      <% else %>
      <p>Nenhuma Atividade Recente</p>
      <% end %>

    </div>

    <!-- CONTATOS -->
    <div class="tab-pane" id="contato">


      <% if republica_signed_in? || admin_signed_in? %> 

      <p>
        <b>Telefone da República:</b>
        <%= @republica.telefone %>
      </p>

      <p>
        <b>Representante:</b>
        <%= @representante.nome + ' ' + @representante.sobrenome %>
      </p>

      <p>
        <b>Email do Representante:</b>
        <%= @republica.email %>
      </p>

      <% if current_republica == @republica || admin_signed_in? %>
      <% if @republica.pending_reconfirmation? %>
      <p style='color:red'>
        <b>Email Não Reconfirmado:</b>
        <%= @republica.unconfirmed_email %>
      </p>
      <% end %>
      <% end %>

      <p>
        <b>Celular do Representante:</b>
        <%= @representante.celular %>
      </p>
      <% end %>


    </div>

    <!-- DADOS RESTRITOS -->
    <div class='tab-pane' id='dados_restritos'>

      <% if current_republica == @republica || admin_signed_in? %>

      <p>
        <b>Número de <%= link_to 'Moradores', republica_moradores_path(@republica) %>:</b>
        <%= @republica.moradores.where(exmorador: false).length %>
      </p>

      <p>
        <b><%= link_to 'Ex-moradores', republica_index_exmoradores_path(@republica) %>:</b>
        <%= @republica.moradores.where(exmorador: true).length %>
      </p>

      <p>
        <b>Endereço:</b>
        <%= @republica.endereco + ', ' + @republica.numero.to_s %>
      </p>

      <p>
        <b>Usuário:</b>
        <%= @republica.username %>
      </p>

      <% end %>

    </div>

    <!-- ADMIN ACTIONS -->
    <div class="tab-pane" id="admin_actions">

      <% if can? :manage, :all %>
      <%= link_to 'Editar Atributos', republica_edit_atributos_path(@republica), class: 'btn btn-success btn-mini' %>
      <% end %>
      <br>

    </div>
  </div>

  <br>

  <%= link_to 'Voltar', republicas_path, class: 'btn btn-small'  %>

</div>