<% if current_republica == @republica %>
<%= render 'left_menu' %>
<% end %>


<div id='show-rep' class='content-box <%= "pull-left" if @republica == current_republica %>'>

  <div class='media rep-show' id='rep-header'>

    <%= image_tag @republica.logotipo_url(:large), id: 'logo_show', class: 'pull-left '%>

    <div class='media-body'>
      <h1>
        <%= @republica.nome %>
      </h1>

      <p>
        <% if @republica.tipo == 'Masculina' %>
        <i class='fa fa-male'></i>
        <% elsif @republica.tipo == 'Feminina' %>
        <i class='fa fa-female'></i>
        <% else %>
        <i class='fa fa-group'></i>
        <% end %>
        <span><%= @republica.tipo %></span>
        <span class='dot-separator'>·</span>
        <span>Fundada em <%= @republica.ano_de_fundacao %></span>
      </p>

      <!-- Desabilitado por enquanto -->
      <% if false %>
      <% if Time.now.year - @republica.ano_de_fundacao <= 1 %>
      <p><%= image_tag 'glyphicons/glyphicons_075_stroller.png', class: 'calendar_icon' %> República Nova</p>
      <% end %>
      <% end %>

      <% if @republica.presente_reunioes == true %>
      <p>
        <i class='fa fa-calendar'></i> Presente em Reuniões
      </p>
      <% end %>

    </div>
  </div>

  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#geral" data-toggle="tab">Geral</a>
    </li>
    <li><a href="#atividades" data-toggle="tab">Atividades</a></li>

    <% if @contato.not_empty? %>
    <li><a href="#contato"  data-toggle="tab">Contato</a></li>
    <% end%>

    <% if republica_signed_in?  %>
    <li><a href="#representante"  data-toggle="tab">Representante</a></li>
    <% end %>

    <% if @social_info.not_empty? %>
    <li><a href="#social_info"  data-toggle="tab">Redes Sociais</a></li>
    <% end%>

    <% if current_republica == @republica %>
    <li><a href="#dados_restritos"  data-toggle="tab">Dados Restritos</a></li>
    <% end %>
  </ul>

  <div class="tab-content">

    <!-- GERAL -->
    <div class="tab-pane fade active in" id="geral">
      <h2>Descrição</h2>
      <div style='word-wrap: break-word;'>
        <%= simple_format @republica.descricao, class: 'description' %>
      </div>

    </div>

    <!-- ATIVIDADES -->
    <div class="tab-pane fade" id="atividades">

      <% if @republica.atributos == true %>

      <!-- Desabilitado por enquanto -->
      <% if false %>
      <% if Time.now.year - @republica.ano_de_fundacao <= 1 %>
      <p><%= image_tag 'glyphicons/glyphicons_075_stroller.png', class: 'atributos' %> República Nova</p>
      <% end %>
      <% end %>

      <% if @republica.presente_reunioes == true %>
      <p><i class='fa fa-calendar'></i> Presente em Reuniões</p>
      <% end %>

      <% if @republica.interreps_vencidos.any?  %>
      <p><i class='fa fa-trophy'></i> Vencedora InterReps: <%= @republica.interreps_vencidos.order(:ano).collect(&:ano).join(', ') %></p>
      <% end %>

      <% else %>
      <p>Nenhuma Atividade Recente</p>
      <% end %>

    </div>

    <% if @contato.not_empty? %>
    <div class="tab-pane fade" id='contato'>

      <% if @republica.telefone.present? || @contato.tel1.present? || @contato.tel2.present? %>
      <p style='font-size: 20px'><i class='fa fa-phone-square'></i> Telefones</p>
      <% end %>

      <% if @republica.telefone.present? %>
      <p><b>República:</b> <%= @republica.telefone %></p>
      <% end %>

      <% if @contato.nome1.present? && @contato.tel1.present? %>
      <p><b><%= @contato.nome1 %>:</b> <%= @contato.tel1 %></p>
      <% end %>

      <% if @contato.nome2.present? && @contato.tel2.present?%>
      <p><b><%= @contato.nome2 %>:</b> <%= @contato.tel2 %></p>
      <% end %>

      <% if @contato.email.present? %>
      <p style='font-size: 20px; margin-top: 25px;'><i class='fa fa-envelope'></i> Email</p>
      <p><%= @contato.email %></p>
      <% end %>

    </div>
    <% end %>

    <% if republica_signed_in? %> 
    <!-- CONTATOS -->
    <div class="tab-pane fade" id="representante">

      <p>
        <b>Representante:</b>
        <%= @representante.nome + ' ' + @representante.sobrenome %>
      </p>

      <p>
        <b>Celular:</b>
        <%= @representante.celular %>
      </p>

      <p>
        <b>Email:</b>
        <%= @republica.email %>
      </p>

      <% if current_republica == @republica %>
      <% if @republica.pending_reconfirmation? %>
      <p style='color:red'>
        <b>Confirme o novo Email cadastrado:</b>
        <%= @republica.unconfirmed_email %>
      </p>
      <% end %>
      <% end %>

    </div>
    <% end %>

    <% if @social_info.not_empty? %>
    <div class="tab-pane fade" id='social_info'>

      <% if @social_info.website.present? %>
      <p><i class="fa fa-lg fa-globe social-show"></i><%= link_to @social_info.website.sub(/^https?\:\/\//, '').sub(/^www./,''), @social_info.website, target: '_blank' %></p>
      <% end %>

      <% if @social_info.facebook.present? %>
      <p><i class="fa fa-lg fa-facebook-square social-show"></i><%= link_to @social_info.facebook.sub(/^https?\:\/\//, '').sub(/^www./,''), @social_info.facebook, target: '_blank' %></p>
      <% end %>

      <% if @social_info.googleplus.present? %>
      <p><i class="fa fa-lg fa-google-plus social-show"></i><%= link_to @social_info.googleplus.sub(/^https?\:\/\//, '').sub(/^www./,''), @social_info.googleplus, target: '_blank' %></p>
      <% end %>

      <% if @social_info.youtube.present? %>
      <p><i class="fa fa-lg fa-youtube social-show"></i><%= link_to @social_info.youtube.sub(/^https?\:\/\//, '').sub(/^www./,''), @social_info.youtube, target: '_blank' %></p>
      <% end %>

      <% if @social_info.twitter.present? %>
      <p><i class="fa fa-lg fa-twitter social-show"></i><%= link_to @social_info.twitter.sub(/^https?\:\/\//, '').sub(/^www./,''), @social_info.twitter, target: '_blank' %></p>
      <% end %>

    </div>
    <% end %>

    <% if current_republica == @republica %>
    <!-- DADOS RESTRITOS -->
    <div class='tab-pane fade' id='dados_restritos'>

      <p>
        <b>Moradores:</b>
        <%= @republica.moradores.where(exmorador: false).length %>
      </p>

      <p>
        <b>Ex-moradores:</b>
        <%= @republica.moradores.where(exmorador: true).length %>
      </p>

      <p>
        <b>Endereço:</b>
        <%= @republica.endereco + ', ' + @republica.numero.to_s %>
      </p>

      <p>
        <b>Usuário:</b>
        <%= @republica.username %>
      </p>
    </div>

    <% end %>

  </div>

  <br>

  <%= link_to 'Voltar', republicas_path, class: 'btn btn-small'  %>

</div>