<p id="notice"><%= notice %></p>

<div id='show-rep'>
  
  <div class='media' id='rep-header'>
    <%= image_tag @republica.logotipo, id: 'logo_show'%>

    <h1 id='nome-rep' style='display: inline'>
      <%= @republica.nome %>
    </h1>
  </div>

  <p>
    <b>Tipo:</b>
    <%= @republica.tipo %>
  </p>

  <p>
    <b>Ano de fundação:</b>
    <%= @republica.ano_de_fundacao %>
  </p>

  <p>
    <b>Descrição:</b>
    <%= @republica.descricao %>
  </p>

  <p>
    <b>Atividades:</b>
    Campeã InterReps X
  </p>


  <% if can? :modify, @republica %>

  <legend> Dados Restritos </legend>

  <p>
    <b>Número de <%= link_to 'Moradores', republica_moradores_path(@republica) %>:</b>
    <%= @republica.moradores.length %>
  </p>


  <p>
    <b>Representante:</b>
    <%= @representante.nome + ' ' + @representante.sobrenome %>
  </p>


  <p>
    <b>Endereço:</b>
    <%= @republica.endereco %>
  </p>

  <p>
    <b>Telefone:</b>
    <%= @republica.telefone %>
  </p>

  <p>
    <b>Usuário:</b>
    <%= @republica.username %>
  </p>

  <p>
    <b>Email:</b>
    <%= @republica.email %>
  </p>
  <% end %>

  <%= link_to 'Voltar', republicas_path, class: 'btn btn-small'  %>

</div>