
<h2>Masculinas</h2>
<div class='content-box content-box-for-table'>
<table class='table table-condensed'>
	<thead>
		<tr>
			<th style='text-align:left'>Nome</th>
			<th>Tipo</th>
			<th>Approved</th>
			<th style='text-align:left'>Moradores</th>
		</tr>
	</thead>

	<tbody>
		<% @masculinas.each do |rep| %>
		<tr>
			<td style='text-align:left'>
				<%= rep.nome %>
			</td>
			<td><%= rep.tipo %></td>
			<td><% if rep.approved %>
				<%= 'Sim' %>
				<% else %>
				<%= 'Não' %>
				<% end %>
			</td>
			<td style='text-align:left'><% rep.moradores.atual.order(:nome).each do |morador| %>
				<%= morador.nome + ' ' + morador.sobrenome %>
				<br>
				<% end %>
			</td>
			<% end %>
		</tbody>
	</table>
</div>
	<br />

	<h2>Femininas</h2>

<div class='content-box content-box-for-table'>
	<table class='table table-condensed'>
		<thead>
			<tr>
				<th style='text-align:left'>Nome</th>
				<th>Tipo</th>
				<th>Approved</th>
				<th style='text-align:left'>Moradores</th>
			</tr>
		</thead>

		<tbody>
			<% @femininas.each do |rep| %>
			<tr>
				<td style='text-align:left'>
					<%= rep.nome %>
				</td>
				<td><%= rep.tipo %></td>
				<td><% if rep.approved %>
					<%= 'Sim' %>
					<% else %>
					<%= 'Não' %>
					<% end %>
				</td>
				<td style='text-align:left'><% rep.moradores.atual.order(:nome).each do |morador| %>
					<%= morador.nome + ' ' + morador.sobrenome %>
					<br>
					<% end %>
				</td>
				<% end %>
			</tbody>
		</table>
</div>

		<br />

		<h2>Mistas</h2>

<div class='content-box content-box-for-table'>
		<table class='table table-condensed'>
			<thead>
				<tr>
					<th style='text-align:left'>Nome</th>
					<th>Tipo</th>
					<th>Approved</th>
					<th style='text-align:left'>Moradores</th>
				</tr>
			</thead>

			<tbody>
				<% @mistas.each do |rep| %>
				<tr>
					<td style='text-align:left'>
						<%= rep.nome %>
					</td>
					<td><%= rep.tipo %></td>
					<td><% if rep.approved %>
						<%= 'Sim' %>
						<% else %>
						<%= 'Não' %>
						<% end %>
					</td>
					<td style='text-align:left'><% rep.moradores.atual.order(:nome).each do |morador| %>
						<%= morador.nome + ' ' + morador.sobrenome %>
						<br>
						<% end %>
					</td>
					<% end %>
				</tbody>
			</table>
			</div>

			<br />