<div class="nav--sub" id="account-navigation">
	<ul class='nav--links'>
		<!-- <li><a href="#">Dashboard</a></li> -->
		<li class="<%= 'active' if current_page?(edit_republica_registration_path) %>">
			<%= link_to 'Minha Conta', republica_path(current_republica) %>
		</li>

		<li class="<%= 'active' if current_page?(servicos_path) %>">
			<%= link_to 'Serviços', servicos_path %>
		</li>

		<!-- 	<li><a href="#">Eventos</a></li> -->

		<li class='pull-right nav--text'><span>Logado como <%= link_to current_republica.nome, republica_path(current_republica) %></span></li>
	</ul>
</div>