<table class='table table-striped'>
	<thead>
		<tr>
			<th>República</th>
			<th>Nome</th>
			<th>Apelido</th>
			<th>Curso</th>
			<th>Ano de ingresso</th>
			<th>Universidade</th>
			<th>RA</th>
			<th>Data de Saída</th>
			<th>Tempo de Rep</th>
			<th></th>
			<th></th>

		</tr>
	</thead>

	<tbody>
		<% @exmoradores.each do |morador| %>
		<% if morador.data_de_saida - morador.created_at < 3.months %>
		<tr>
			<td><%= morador.republica.nome %></td>
			<td><%= morador.nome + ' ' + morador.sobrenome %></td>
			<td><%= morador.apelido %></td>
			<td><%= morador.curso %></td>
			<td><%= morador.ano_de_ingresso %></td>
			<td><%= morador.universidade %></td>
			<td><%= morador.ra %></td>
			<td><%= morador.data_de_saida.to_date %></td>
			<td class='<%= "red" if morador.data_de_saida - morador.created_at < 3.months %>'><%= distance_of_time_in_words(morador.data_de_saida - morador.created_at) %></td>

		</tr>
		<% end %>
		<% end %>
	</tbody>
</table>