<div class='content-box center-form'>
	<%= simple_form_for [@republica, @contato], :url => republica_contato_path, :html => {method: :put, novalidate: 'novalidate', class: 'form-inline'} do |f| %>
	<%= display_base_errors @contato %>


	<h3>Contatos de <%= @republica.nome %></h3>

	<p><small>Adicione aqui somente os contatos que devem ficar disponíveis ao público.</small></p>

	<%= f.input :email, :wrapper => :prepend, label: false do %>
	<span class="add-on"><i class="fa fa-envelope"></i></span><%= f.input_field :email, placeholder: "Email" %>
	<% end %>

	<div class='inline-inputs'>
		<%= f.input :nome1, :wrapper => :prepend, label: false do %>
		<span class="add-on"><i class="fa fa-font"></i></span><%= f.input_field :nome1, placeholder: "Nome" %>
		<% end %>


		<%= f.input :tel1, :wrapper => :prepend, label: false do %>
		<span class="add-on"><i class="fa fa-phone"></i></span><%= f.input_field :tel1, placeholder: "Telefone", class: 'celular' %>
		<% end %>
	</div>

	<div class='inline-inputs'>
		<%= f.input :nome2, :wrapper => :prepend, label: false do %>
		<span class="add-on"><i class="fa fa-font"></i></span><%= f.input_field :nome2, placeholder: "Nome" %>
		<% end %>


		<%= f.input :tel2, :wrapper => :prepend, label: false do %>
		<span class="add-on"><i class="fa fa-phone"></i></span><%= f.input_field :tel2, placeholder: "Telefone", class: 'celular' %>
		<% end %>
	</div>

	<div class="form-actions" id='cadastro_actions'>
		<%= f.submit 'Atualizar', class: 'btn btn-primary' %>
		<%= link_to 'Cancel', republica_path(@republica), class: 'btn' %>
	</div>



	<% end %>
</div>