<tr>
    <td>
        <%= ev.nome %>
    </td>
    <td><%= ev.ano %></td>

    <td>
        <%= link_to 'Adicionar', add_moradores_admin_evento_evento_moradores_path(ev), class: 'btn btn-mini btn-success' %>
    </td>

    <td>
        <%= link_to 'Adicionar', add_exmoradores_admin_evento_evento_moradores_path(ev), class: 'btn btn-mini btn-success' %>
    </td>

    <td class='admin_action'>

        <% if !ev.open %>
        	<%= link_to "Abrir para Inscrições", admin_evento_path(ev, :evento => {open: 'true' } ), method: :put, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-mini btn-info admin_action' %>
        <% else %>
        	<%= link_to "Fechar Inscrições", admin_evento_path(ev, :evento => {open: 'false' } ), method: :put, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-mini btn-warning admin_action' %>
        <% end %>
       <%= link_to "<i class='icon-edit'></i>".html_safe, edit_admin_evento_path(ev), class: 'btn btn-mini admin_action' %>
        <%= link_to "<i class='icon-trash icon-white' ></i>".html_safe, admin_evento_path(ev), method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger btn-mini admin_action' %>
    </td>
</tr>
