  <div class='content-box center-form'>
    <% @servico.categorias.build if @servico.categorias.blank? %>
    <%= simple_nested_form_for @servico,html: {novalidate: 'novalidate'} do |f| %>
    <%= f.error_notification %>
    <%= display_base_errors @servico %>

    <fieldset>
      <legend>Novo Serviço</legend>


      <%= f.input :nome, label: false, placeholder: 'Nome da Pessoa ou Empresa', input_html: { class: 'input-xxlarge'} %>
      <%= f.input :endereco, label: false, placeholder: 'Endereço (opcional)', input_html: { class: 'input-xxlarge'}  %>
      <%= f.input :descricao, label: false, placeholder: 'Descrição', input_html: { class: 'input-xxlarge', rows: 10} %>
      <%= f.input :preco, label: false, placeholder: 'Preço Médio (opcional)' %>
      <%= f.input :avaliacao, label: false, placeholder: 'Avaliação (1-5)' %>
    </fieldset>

    <fieldset>
      <legend>Categoria</legend>

      <%= f.association :categorias, label: false, label_method: :nome, placeholder: 'Categoria', input_html: { class: 'input-xxlarge chz-categories'} %>

      <p>Ou adicione uma nova categoria:</p>

      <%= f.simple_fields_for :categorias do |c| %>
      <% if c.object.new_record? %>
      <%= c.input :nome, label: false, placeholder: 'Nova Categoria' %>
      <% end %>
      <% end %>

    </fieldset>

    <fieldset>
      <legend>Contatos</legend>

      <%= f.input :tel1, :wrapper => :prepend, label: false do %>
      <span class="add-on"><i class="fa fa-phone"></i></span><%= f.input_field :tel1, placeholder: "Telefone 1", class: 'celular' %>
      <% end %>

      <%= f.input :tel2, :wrapper => :prepend, label: false do %>
      <span class="add-on"><i class="fa fa-phone"></i></span><%= f.input_field :tel2, placeholder: "Telefone 2 (opcional)", class: 'celular' %>
      <% end %>

      <%= f.input :site, :wrapper => :prepend, label: false do %>
      <span class="add-on"><i class="fa fa-globe"></i></span><%= f.input_field :site, placeholder: "Site (opcional)" %>
      <% end %>

      <%= f.input :email, :wrapper => :prepend, label: false do %>
      <span class="add-on"><i class="fa fa-envelope"></i></span><%= f.input_field :email, placeholder: "Email (opcional)" %>
      <% end %>
    </fieldset>

    <div class="form-actions">
      <%= f.submit 'Adicionar', class: 'btn btn-primary' %>
      <%= link_to 'Cancel', servicos_path, class: 'btn' %>
    </div>


    <% end %>
  </div>