<tr>
    <td>
        <%= ev.nome %>
    </td>
    <td><%= ev.ano %></td>

    <td>
      <% if !ev.open && ev.inscrito?(current_republica) %>
         <%= link_to 'Gerar', republica_evento_path(current_republica, ev), class: 'btn btn-warning btn-small', target: '_blank' %>
      <% end %>
    </td>

    <td class='table_actions'>
    	<% if ev.open %>
            <% if ev.inscrito?(current_republica) %>
       		   <%= link_to 'Editar Inscrição', edit_republica_evento_path(current_republica, ev), class: 'btn btn-success btn-mini' %>
               <%= link_to 'Deletar Inscrição', republica_evento_path(current_republica, ev), method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger btn-mini' %>
           <% else %>
                <%= link_to 'Inscrever-se', edit_republica_evento_path(current_republica, ev), class: 'btn btn-info btn-small' %>
           <% end %>
        <% else %>
        	<span class="btn btn-inverse btn-small disabled">Fechado</span>
        <% end %>
    </td>
</tr>
