<table class='table table-condensed republicas'>
	<thead class='republicas-head'>
		<tr>
			<th></th> <!-- Logotipo -->
			<th><%= sortable "nome", "República", params[:approved] %></th>
			<th><%= sortable "tipo", "Tipo", params[:approved] %></th>
			<th><%= sortable "ano_de_fundacao", "Ano de Fundação", params[:approved] %></th>
			<th>Atributos</th> <!-- Prêmios - Campeã de InterReps, Reuniões, etc. -->

			<th><%= sortable "created_at", "Registro", params[:approved] %></th>
			<th><%= sortable "last_sign_in_at", "Último Login", params[:approved] %></th>
			<th>Status de Email</th>
			<th>Estatísticas</th>
			<th></th> <!-- Comandos ADMIN -->
		</tr>
	</thead>

	<tbody>
		<% @republicas.each do |republica| %>
		<tr>
			<td><%= image_tag republica.logotipo_url(:thumb), id: 'logotipo' %></td>
			<td><b><%= link_to republica.nome, admin_republica_path(republica) %></b></td>
			<td><%= republica.tipo %></td>
			<td><%= republica.ano_de_fundacao %></td>
			<td>
				<%  if republica.campea_interreps != '' && republica.campea_interreps != nil %>
				<i class='fa fa-trophy interreps'></i>
				<% end %>
				<% if republica.presente_reunioes == true %>
				<i class='fa fa-calendar reunioes'></i>
				<% end %>

				<% if false %>
				<%= image_tag 'glyphicons/glyphicons_075_stroller.png', class: 'nova_rep' if Time.now.year - "#{republica.ano_de_fundacao}".to_i <= 1 %>
				<% end %>
			</td>

			<td><%= republica.created_at.to_date %></td>

			<td>
				<% if republica.last_sign_in_at != nil %>
				<%= time_ago_in_words republica.last_sign_in_at %>
				<% end %>
			</td>


			<td>
				<% if republica.confirmed? && !republica.pending_reconfirmation? %>
				<span style='color:green'>OK</span>
				<% elsif republica.confirmed? && republica.pending_reconfirmation? %>
				<span style='color:red'>Precisa Reconfirmar</span>
				<% else %>
				<span style='color:red'>Não Confirmado</span>
				<% end %>

			</td>

			<td>
				<%= link_to 'Statistics', admin_republica_statistics_path(republica), class: 'btn btn-mini' %>
			</td>

			<td class='admin_action'>
				<%= link_to 'Editar', edit_admin_republica_path(republica), class: 'btn btn-mini' %>
				<%= link_to 'Deletar', republica, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger btn-mini' %>
				<% if republica.approved == false %>
				<%= link_to 'Approve', admin_republica_approve_path(republica), method: :put, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-success btn-mini' %>
				<% end %>
				<% if republica.approved == true %>
				<%= link_to 'Disapprove', admin_republica_disapprove_path(republica), method: :put, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-warning btn-mini' %>
				<% end %>
			</td>

		</tr>
		<% end %>
	</tbody>
</table>


<p><%= will_paginate @republicas %></p>