<%= link_to "<i class='fa fa-check'></i> Repúblicas aprovadas".html_safe, admin_republicas_path, remote: true, id:'approved_link', class: 'nav-btn nav-btn-a nav-btn-small' %>

<%= link_to "<i class='fa fa-ban'></i> Esperando aprovação".html_safe, admin_republicas_path(:approved => false), remote:true, id: 'disapproved_link', class: 'nav-btn nav-btn-a nav-btn-small' %>
<br/>
<br>
<div class='form-inline' id='search_field'>
<%= form_tag admin_republicas_path, :method => 'get', :id => "republicas_search", remote: true do %>
    <%= text_field_tag :search, params[:search], placeholder: 'Pesquisar por Nome', autocomplete: :off %>
<% end %>
</div>

<div id='republicas' class='content-box-for-table'><%= render 'republicas' %></div>

