<ul class='inline'>
<li><%= link_to "<i class='fa fa-check'></i> Repúblicas aprovadas".html_safe, admin_republicas_path, remote: true, id:'approved_link', class: 'nav-btn nav-btn-a nav-btn-small' %></li>

<li><%= link_to "<i class='fa fa-ban'></i> Esperando aprovação".html_safe, admin_republicas_path(:approved => false), remote:true, id: 'disapproved_link', class: 'nav-btn nav-btn-a nav-btn-small' %></li>
</ul>


<div class='search' id='search_field'>
	<%= form_tag admin_republicas_path, :method => 'get', :id => "republicas_search", remote: true do %>
	<%= text_field_tag :search, params[:search], placeholder: 'Pesquisar por Nome', autocomplete: :off %>
	<% end %>
</div>

<ul class='inline'>
	<li><a href='#' class='nav-btn nav-btn-a nav-btn-small'>Todas</a></li>
	<li><a href='#' class='nav-btn nav-btn-a nav-btn-small'><i class='fa fa-male'></i> Masculinas</a></li>
	<li><a href='#' class='nav-btn nav-btn-a nav-btn-small'><i class='fa fa-female'></i> Femininas</a></li>
	<li><a href='#' class='nav-btn nav-btn-a nav-btn-small'><i class='fa fa-group'></i> Mistas</a></li>
</ul>

<div id='republicas' class='content-box-for-table'><%= render 'republicas' %></div>

