<legend>Moradores</legend>

<table class='table table-striped'>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Curso</th>
        <th>Ano de ingresso</th>
        <th>Ra</th>
        <th>Universidade</th>
        <th>Republica</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
</thead>

<tbody>
<% @moradores.each do |morador| %>
<tr>
    <td><%= morador.nome %></td>
    <td><%= morador.sobrenome %></td>
    <td><%= morador.curso %></td>
    <td><%= morador.ano_de_ingresso %></td>
    <td><%= morador.ra %></td>
    <td><%= morador.universidade %></td>
    <td><%= morador.republica_id %></td>
    <td><%= link_to 'Show', republica_morador_path(@republica, morador) %></td>
    <td><%= link_to 'Edit', edit_republica_morador_path(@republica,morador) %></td>
    <td><%= link_to 'Destroy', republica_morador_path(@republica, morador), method: :delete, data: { confirm: 'Are you sure?' } %></td>

</tr>
<% end %>
</tbody>
</table>

<br />
