<legend>Moradores</legend>

<table class='table table-striped'>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Apelido</th>
        <th>Curso</th>
        <th>Ano de ingresso</th>
        <th>Universidade</th>
        <th>RA</th>
        <th>Contato</th>
        <th></th>

    </tr>
</thead>

<tbody>
    <% @moradores.each do |morador| %>
    <% if morador.exmorador? == false %>
    <tr>
        <td>
            <%= morador.nome + ' ' + morador.sobrenome %>
            <% if morador.representante %>
            <b> (Representante)</b>
            <% end %>
        </td>
        <td><%= morador.apelido %></td>
        <td><%= morador.curso %></td>
        <td><%= morador.ano_de_ingresso %></td>
        <td><%= morador.universidade %></td>
        <td><%= morador.ra %></td>
        <td>
            <% if morador.representante %>
            <%= morador.email  %> 
            <br>
            <%= morador.celular %>
            <% end %>
        </td>
        <% end %>
    <% end %>
    </tbody>
</table>

<br />

<%= link_to 'Voltar', republica_path(@republica), class: 'btn btn-small'  %>
