<legend>Moradores</legend>

<table class='table table-striped'>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Apelido</th>
        <th>Curso</th>
        <th>Ano de ingresso</th>
        <th>RA</th>
        <th>Universidade</th>
        <th></th>

    </tr>
</thead>

<tbody>
    <% @moradores.each do |morador| %>
    <% if morador.exmorador? == false %>
    <tr>
        <td><%= morador.nome %></td>
        <td><%= morador.sobrenome %></td>
        <td><%= morador.apelido %></td>
        <td><%= morador.curso %></td>
        <td><%= morador.ano_de_ingresso %></td>
        <td><%= morador.ra %></td>
        <td><%= morador.universidade %></td>
        <% if can? :manage, :all %>
        <td><%= link_to 'Editar', edit_republica_morador_path(@republica,morador), class: 'btn btn-mini' %>
            <%= link_to 'Deletar', republica_morador_path(@republica, morador), method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger btn-mini' %>
            <%= link_to "Ex-morador?", republica_morador_path(morador.republica_id, morador, :morador => {:exmorador => 'true' } ), method: :put, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-mini btn-warning' %>
        </td>
            <% end %>

        </tr>
        <% end %>
        <% end %>
    </tbody>
</table>

<br />

<%= link_to 'Voltar', republica_path(@moradores.first.republica_id), class: 'btn btn-small'  %>
