<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @morador.nome %>
</p>

<p>
  <b>Sobrenome:</b>
  <%= @morador.sobrenome %>
</p>

<p>
  <b>Apelido:</b>
  <%= @morador.apelido %>
</p>

<p>
  <b>Curso:</b>
  <%= @morador.curso %>
</p>

<p>
  <b>Ano de ingresso:</b>
  <%= @morador.ano_de_ingresso %>
</p>

<p>
  <b>Ra:</b>
  <%= @morador.ra %>
</p>

<p>
  <b>Universidade:</b>
  <%= @morador.universidade %>
</p>

<p>
  <b>Republica:</b>
  <%= @morador.republica_id %>
</p>


<%= link_to 'Edit', edit_republica_morador_path(@morador.republica_id, @morador) %> |
<%= link_to 'Back', republica_moradores_path %>
