<div class='content-box center-form'>

	<%= simple_nested_form_for [:admin, @republica, @exmorador], validate: true, html: {method: :put, id: 'republica_form', multipart: true}, :url => admin_republica_exmorador_path do |f| %>
	<%= f.error_notification %>
	<%= display_base_errors @exmorador %> 


	<fieldset id='moradores'>
		<legend>Ex-Morador</legend>
		<%= f.input :nome, placeholder: 'Nome', label: false, input_html: {class: 'nome'}  %>
		<%= f.input :sobrenome, placeholder: 'Sobrenome', label: false,input_html: {class: 'sobrenome'}  %>
		<%= f.input :apelido, placeholder: 'Apelido', label: false  %>
		<%= f.input :curso, label: false, collection: (Morador::CURSO).sort, input_html: {class: 'chzn-select curso', :'data-placeholder' => 'Curso' } %>
		<%= f.input :ano_de_ingresso, label: false, collection: (2000..Time.now.year).to_a.reverse, prompt: 'Ano de ingresso' %>

		<%= f.input :data_de_saida, :as => :date_picker, label: false, placeholder: 'Data de Saída' %>

		<div class='universidade'><%= f.input :universidade, label: false, collection: Morador::UNIVERSIDADE, prompt: 'Universidade', input_html: {id: 'universidade'} %></div>

		<div class='RA' style='display:none'><%= f.input :ra, placeholder: 'RA', label: false, validate: true %></div>

	</fieldset>

	<div class="form-actions" id='cadastro_actions'>
		<%= f.submit 'Atualizar', class: 'btn btn-primary' %>
		<%= link_to 'Cancel', admin_republica_exmoradores_path(@republica), class: 'btn' %>
	</div>


	<% end %>

</div>