<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</a>

<!-- Be sure to leave the brand out there if you want it shown -->
<%= link_to "Home", root_path, :class => 'brand' %>

<!-- Everything you want hidden at 940px or less, place within here -->
<div class="nav-collapse collapse">
	<!-- .nav, .navbar-search, .navbar-form, etc -->
	<ul class="nav">
		<li class="<%= 'active' if current_page?(republicas_path) %>">
			<%= link_to "Repúblicas", republicas_path %>
		</li>
		<% if republica_signed_in? %>
		<li>
			<%= link_to('Logout', destroy_republica_session_path, :method=>'delete') %>
		</li>
		<% elsif !admin_signed_in? %>
		<li class="<%= 'active' if current_page?(new_republica_session_path) %>">
			<%= link_to('Login', new_republica_session_path)  %>
		</li>
		<% end %>
		<% if republica_signed_in? %>
			<li class="<%= 'active' if current_page?(edit_republica_registration_path) %>">
				<%= link_to('Edit account', edit_republica_registration_path) %>
			</li>
			<% if !current_republica.has_inserted_ex_moradores? %>
				<li class="<%= 'active' if current_page?(republica_add_exmoradores_path(current_republica)) %>">
					<%= link_to('Adicionar Ex-Moradores', republica_add_exmoradores_path(current_republica)) %>
				</li>
			<% end %>
		<% else %>
		<li class="<%= 'active' if current_page?(new_republica_registration_path) %>">
			<%= link_to('Cadastro', new_republica_registration_path)  %>
		</li>
		<% end %>
	</ul>
	<ul class='nav pull-right'>
		<% if admin_signed_in? %>
		<li>
			<p class="navbar-text">Logado como <span style="color: #0088cc; text-decoration: none;">Admin</span></p>
		</li>
		<li>
			<%= link_to('Logout', destroy_admin_session_path, :method=>'delete') %>
		</li>
		<% else %>

		<% if republica_signed_in? %>
			<li>
				<p class="navbar-text">Logado como <%= link_to current_republica.nome, republica_path(current_republica) %></p>
			</li>
		<% end %>

		<!-- <li class="<%= 'active' if current_page?(new_admin_session_path) %>">
			<%= link_to('Admin', new_admin_session_path)  %>
		</li> -->
		<% end %>
	</ul>
</div>