<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Sistema de Repúblicas da ARU - SRA" %></title>
  <meta name="description" content="Sistema de Repúblicas da ARU">
  <meta name="author" content="André Brandão">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <nav class="navbar-inner">
      <div class="container">
        <%= render 'layouts/navigation' %>
      </div>
    </nav>
  </header>

  <div id='wrap'>
    <div class="container-fluid">
      <div class="row-fluid">
        <!-- Body Content -->
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
      <div id='push'></div>
    </div>
  </div>
  <div id='footer'>
    <div class='container'>
      <p>Copyright 2013 <strong>ARU</strong>. Todos os direitos reservados.</p>
    </div>
  </div>



</body>
</html>