<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Sistema de Repúblicas da ARU - SRA" %></title>
  <meta name="description" content="Sistema de Repúblicas da ARU">
  <meta name="author" content="André Brandão">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
  
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <%= render 'layouts/navigation' %>
      </div>
    </div>
  </div>

  <%= render 'layouts/messages' %>
  <!--   <div id='wrap'> -->
  <%= render 'layouts/index' if @index_header %>

  <div id='main' class="container">
    <div class="content">
      <!-- Body Content -->
      <%= yield %>
    </div>
    <!--       <div id='push'></div> -->
  </div>
  <!--   </div> -->
  <div class='footer'>
    <div class='container'>
      <%= render 'layouts/footer' %>
    </div>
  </div>



</body>
</html>